body{
    background: #352f5b;
}
.container{
    max-width:400px;
}
ul{
    border-radius: 1%;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos,header,add{
   /* display: ; */
}
.todos li{
    background: #423a6f;
    border: none;
    padding: 1%;
}
.delete{
    cursor: pointer;
}

.filtered{
    display: none !important;
}